@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root{
    --primary-color: #7159C1;
    --secondary-color: #F7DF1E;
}

* {
    margin : 0;
    padding: 0;
    border : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: #FFF;
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;    
}

/* === CARD === */
.card {
    background-color: #FFF;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.5) ;


    /* animation */
    animation: up 700ms ease-in-out;
}

.card .avatar {
    background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

/* details */
.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*=== CREATE ===*/

/* form */
input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 12px;
    font-weight: normal;
}

select option {
    margin: 5px
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}

form.card .item:nth-child(6){
    border: none;
}

.item .sexo {
    display: flex;
}

.item .sexo span {
    display: flex;
    align-items: initial;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
    cursor: pointer;
}

/* === INDEX INSTRUCTORS === */
.table-container {
    display: block;
    padding: 40px;
}

.table-container table {
    width: 100%;
    border-spacing: 0;
}

.table-container table thead tr th{
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #D9D9D9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px #000;
    border: 2px solid #FFF;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    border-radius: 6px;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child, 
td:last-child {
    text-align: center;
}